
.category_title {
    color: white;

}



.content-text {
    font-size: 20px;
    line-height: 1.5;
    color: #f6f6f6;
}

.button-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-row > button {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 16px;
}

.content-text img {
    width: 800px;
    height: auto;
    padding: 20px 40px;
}